#editor-bottom-bar a {
  float: left;
}

.OutlineClass a, .OutlineFunction a {
  color: darkgray;
}

.OutlineClass a::before, .OutlineFunction a::before, .OutlineClass a::before, .OutlineFunction a::before {
  padding-left: 14px;
  background: url('icons.png') no-repeat;
  width: 8px;
  height: 8px;
  content: ' ';
}

.OutlineClass a::before { background-position-y: -16px; }

#OutlineMenu li {
  border:none;
  margin-right: 10px;
  white-space: nowrap;
}

.OutlineFunction {
  white-space: nowrap;
}

#OutlineMenu li a {
  padding: 5px;
}

.sidebar#sb-right {
  width: 220px;
  right: -210px;
}

.sb-right-content ul.outline {
  margin-left: -6px;
}

.sb-right-content {
  width: 208px;
}