#editor-bottom-bar a {
  float: left;
}

.OutlineFunction a {
  color: darkgray;
}

.OutlineFunction a::before, .OutlineFunction a::before {
  padding-left: 14px;
  background: url('icons.png') no-repeat;
  width: 8px;
  height: 8px;
  content: ' ';
}

#OutlineMenu li {
  border:none;
  margin-right: 10px;
  white-space: nowrap;
}

.OutlineFunction { white-space: nowrap; }

.OutlineFunction.private a::before { background-position-y: -16px; }
.OutlineFunction.protected a::before { background-position-y: -32px; }
.OutlineFunction.class a::before { background-position-y: -48px; }

#OutlineMenu li a {
  padding: 5px;
}

ul.Outline li:last-child { 
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.sidebar#sb-right {
  width: 220px;
  right: -210px;
}

.sb-right-content ul.outline {
  margin-left: -6px;
}

.sb-right-content {
  width: 208px;
}